@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using DotNetNuke.Data
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using DotNetNuke.Framework.JavaScriptLibraries;
@using Bamm.Dnn.Dnn.Bamm.HelloWorld.Components;
@using Bamm.Dnn.Dnn.Bamm.HelloWorld.Models;
@using Bamm.Dnn.Dnn.Bamm.HelloWorld.Controllers;

@using System.Data

@{ 
    var controller = new Bamm.Dnn.Dnn.Bamm.HelloWorld.Controllers.QuestionController();
    var firsQuestion = controller.GetQuestionById(1);
    Answers[] firstAnswers = controller.GetAnswerByQuestion(1);
}

<script>
    function getAnswers(id) {
        $.ajax({
            type: "POST",
            url: "QuestionController/GetQuestionById",
            data: { id: id },
            success: function (response) {
                var firsQuestion = response.firsQuestion;
                var firstAnswers = response.firstAnswers;

                $("#button1").text(firstAnswers[0].Answer);
                $("#button2").text(firstAnswers[1].Answer);
                $("#button3").text(firstAnswers[2].Answer);
            }

        })
    }
</script>

<div>
    <p>
        @(firsQuestion.Question)
    </p>
    <button>@(firstAnswers[0].Answer)</button>
    <button>@(firstAnswers[1].Answer)</button>
    <button>@(firstAnswers[2].Answer)</button>
</div>
